/* Universal */
body {
    margin-top: 0ch;
    margin-bottom: 0ch;
    margin-left: 0ch;
    margin-right: 0ch;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: rgb(255,0,0);
    position: sticky;
    top: 0;
    z-index: 100;
}
h1 {
    margin: 0px 0px 0px 0px;
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
    text-align: center;
    color: #FFFFFF;
    font-size: 3em;
}

/* Nav */
nav {
    display: none;
}

/* Entry 1 */
section {
    padding: 10px;
}
h2, h3, h4 {
    text-align: center;
    color: red;
}
h3 {
    position: relative;
    bottom: 20px;
}
h4 {
    position: relative;
    bottom: 40px;
}

audio {
    color: red;
}


/* Footer */
footer {
    background-color: hsl(0, 100%, 50%);
    padding: 5mm 5mm 5mm 5mm;
    margin: auto;
    text-align: center;
}
footer > span {
    color: white;
    font-size: 2ex;
}