/* Universal styling */
body {
    margin: 0cm;
    background-color: white;
}

/* Header styling */
header {
    background-color: rgb(255,0,0);
}
h1 {
    margin: 0px;
    padding: 10mm;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}