/* Universal */
* {
    font-family: 'Roboto', sans-serif;
}
#main {
    margin-top: 0ch;
    margin-bottom: 0ch;
    margin-left: 0ch;
    margin-right: 0ch;
    background-color: white;
}

/* Header */
header {
    background-color: rgb(255,0,0);
    position: sticky;
    top: 0;
    z-index: 100;
}
h1 {
    margin: 0px 0px 0px 0px;
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
    text-align: center;
    color: #FFFFFF;
    font-size: 3em;
}

/* Nav */
nav {
    text-align: center;
    color: red;
    font-size: 1.5em;
    padding-top: 10px;
}
nav > div > a {
    text-decoration: none;
    color: maroon;
}
nav a:hover {
    color: tomato;
}
nav a:active {
    color: red;
}

/* Entries */
.entry, form {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    border-radius: 10px;
}
h2, h3, h4 {
    text-align: center;
    color: red;
}
h3 {
    position: relative;
    bottom: 20px;
}
h4 {
    position: relative;
    bottom: 40px;
}
p, audio, ol, ul, img, video, form, summary {
    color: maroon;
    position: relative;
    bottom: 30px;
}
img[alt="Vaccine"] {
    width: 50%;
}
summary {
    display: block;
}
hr + hr {
    display: none;
}
section ~ hr {
    display: none;
}
ol.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
ul.list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 40px;
    justify-items: end;
    align-items: center;
}
form {
    margin-top: 40px;
}
fieldset {
    height: 50%;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
}

/* Footer */
footer {
    background-color: hsl(0, 100%, 50%);
    padding: 5mm 5mm 5mm 5mm;
    margin: auto;
    text-align: center;
}
footer > span {
    color: white;
    font-size: 2ex;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 2em;
    }
}